.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-main);
    margin-bottom: 8px;
}

.input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #DEDEDE;
    border-radius: var(--radius-sm);
    font-size: 15px;
    transition: all 0.2s ease;
    background-color: #FAFAFA;
    /* Slightly off-white input bg */
    color: var(--color-text-main);
}

.input:focus {
    outline: none;
    border-color: var(--color-primary);
    background-color: white;
    box-shadow: 0 0 0 3px rgba(141, 163, 153, 0.2);
    /* Soft Sage ring */
}

.errorInput {
    border-color: var(--color-error);
}

.helperText {
    font-size: 12px;
    color: var(--color-text-sub);
    margin-top: 4px;
    margin-left: 2px;
}

.errorText {
    font-size: 12px;
    color: var(--color-error);
    margin-top: 4px;
    margin-left: 2px;
}